<div class="footer-info">
    <div class="row justify-content-md-center">
        <div class="col-2">
            <h4>PAGEWORTH:</h4>
           <span class="info"> We are ThemeFusion, a creative and dedicated group of individuals who love WordPress almost as much as we love our customers. In 2012 we set out to make the perfect theme and Avada was born. Since then it has been the #1 selling theme with an ever growing user base of 380,000+ wonderful customers.</span>
        </div>
        <div class="col-2">
            <h5>Diễn đàn</h5>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-angle-right" aria-hidden="true"></i> First item</a>
                <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-angle-right" aria-hidden="true"></i>  Second item</a>
                <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-angle-right" aria-hidden="true"></i> Third item</a>
            </div>
        </div>
        <div class="col col-lg-2">
            3 of 3
        </div>
    </div>
</div>
<div class="footer">
    <div class="row justify-content-md-center">
        <p>
            © Copyright 2018 | Design by Nguyen Van Quan
        </p>
    </div>
</div>